body {
  margin: 5px;
}
.pswp-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.pswp-gallery > a {
  line-height: 0;
}
.pswp-gallery > a > img {
  max-width: 1270px;
}
@media only screen and (max-width: 1280px) {
  .pswp-gallery > a > img {
    max-height: 100px;
    max-width: 390px;
  }
}
@media only screen and (max-width: 400px) {
  .pswp-gallery > a > img {
    max-height: 50px;
    max-width: 200px;
  }
}
.pswp__custom-caption {
  position: absolute;
  color: white;
  font-size: 16pt;
  text-shadow: 0 0 5pt black;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
